* {
  font-family: "Fira Code", monospace;
  font-size: 1.25rem;
}

window {
  background-color: transparent;
}

#input {
  margin: 5px;
  border-radius: 8px;
  border: none;
  background-color: #111826; /* cachydgreen */
  color: #ffffff; /* cachywhite */
}

#inner-box {
  background-color: #111826; /* cachydblue */
}

#outer-box {
  margin: 2px;
  padding: 10px;
  background-color: #111826; /* cachydblue */
  border-radius: 12px;
  border: 2px solid #007d6f;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: #ffffffff; /* cachywhite */
}

#entry {
  padding: 10px 6px;
  border-radius: 12px;
  margin: 4px 0px;
  background-color: #182036;
  color: rgba(255, 255, 255, 0.7);
}

#entry #img {
  margin: 0px 6px;
}

#entry:nth-child(even) {
  background-color: #182545; /* cachymblue */
}

#entry:selected {
  background: linear-gradient(#40eac4, #008a64);
  color: white;
}

#text:selected {
  background: transparent;
}
